{% load static  %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de la página</title>

    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
  {% if user.is_authenticated%}
    <p>Hi {{user.username}}</p>
    <form method='post' action='{% url 'logout'  %}'>
      {% csrf_token %}
      <button type='submit'>Logout</button>
    </form>

    <a href="{% url 'new_post' %}">New Post</a> 
  {% else %}

    <p>Unauthenticated</p>
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'signup' %}">SignUp</a>

  {% endif %}

  {% block content %}
  {% endblock content %}
</body>
</html>
